<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <div class="page-header">
    <h2 translate>User details</h2>
  </div>

  <ul ngbNav #nav="ngbNav" (navChange)="onNavChange($event)">
    <li ngbNavItem="user_details_info_tab" id="user_details_info_tab">
      <ng-template>
        <span translate>INFORMATION</span>
      </ng-template>

      <ng-template ngbNavContent>
        <app-user-details-information></app-user-details-information>
      </ng-template>
    </li>

    <li ngbNavItem="user_details_subscriptions_tab" *ngIf="messagingResources" id="user_details_subscriptions_tab">
      <ng-template>
        <span translate>SUBSCRIPTIONS</span>
      </ng-template>

      <ng-template ngbNavContent>
        <app-user-details-subscriptions [nav]="nav"></app-user-details-subscriptions>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
