<div class="content-box">
  <h1>Terminologija</h1>
  <p>
    V modulu Terminologija so enolično in jasno definirani ključni pojmi, ki se uporabljajo v okviru javne uprave.
    Nudi rešitve za semantične ovire, ki so lahko:
  </p>
  <ul>
      <li>različne definicije pojmov,</li>
      <li>isti termin za več pojmov ali več terminov za isti pojem,</li>
      <li>opis istega pojma z različnimi atributi ali z različnim številom atributov,</li>
      <li>uporaba različnih enot,</li>
      <li>različna natančnost merskih lestvic,</li>
      <li>itd.</li>
  </ul>
  <p>V modulu Terminologija imajo vsi pojmi nedvoumno in neredundantno definicijo. Najmanj, kar zagotavlja, je:</p>
  <ul>
      <li>če se nek termin uporablja za različne pojme in v različnih kontekstih, je v določenem kontekstu eksplicitno kvalificiran,</li>
      <li>če se uporablja več terminov za isti pojem, je eden določen kot prednostni, ostali pa kot sinonimi, psevdonimi itd.</li>
  </ul>
  <p>Termini so lahko organizirani tudi v hierarhično strukturo. Vsak termin je lahko v enem ali več odnosih nadrejenosti ali podrejenosti do drugih terminov. <br>
    Dovoljena je tudi mrežna struktura (en termin ima lahko več nadrejenih terminov). Odnosi med pojmi lahko vključujejo tudi asociativne (nehierarhične) odnose.</p>
  <p>Modul Terminologija vsebuje tudi druge metapodatke (npr. izvorno vsebinsko področje, skrbništvo pojmov itd.)</p>
  <p>Modul Terminologija se vzajemno povezuje in usklajuje z modulom Podatkovni modeli in Šifranti.</p>

</div>


